*.iml
.gradle
.idea
.svn
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
/gradle
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle

